<footer class="footer">
  <div class="container">
    <div class="footer__grid footer-grid">

      <div class="footer__col footer__col--brand footer-brand">
        <a routerLink="/" class="footer__logo">
          <img src="/images/logo.png" alt="Tasweeqar Logo" />
          <span>{{ langService.currentLang() === 'ar' ? 'تسويقار' : 'Tasweeqar' }}</span>
        </a>
        <p class="footer__desc">{{ 'footer.desc' | translate }}</p>
        <div class="footer__social social-row">
          <!-- X (Twitter) -->
          <a href="https://www.x.com" target="_blank" class="footer__social-link">
            <i class="fa-brands fa-x-twitter"></i>
          </a>

          <!-- Instagram -->
          <a href="https://www.instagram.com" target="_blank" class="footer__social-link">
            <i class="fa-brands fa-instagram"></i>
          </a>

          <!-- WhatsApp -->
          <a href="https://wa.me/966580000910?text=مرحباً، أود الاستفسار عن خدمات تسويقار للمقاولات" target="_blank"
            class="footer__social-link">
            <i class="fa-brands fa-whatsapp"></i>
          </a>

          <!-- LinkedIn -->
          <a href="https://www.linkedin.com" target="_blank" class="footer__social-link">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </div>
      </div>

      <div class="footer__col footer-links">
        <h4>{{ 'footer.quick_links' | translate }}</h4>
        <div class="quick-links-grid">
          <div class="col">
            <a routerLink="/">{{ 'nav.home' | translate }}</a>
            <a routerLink="/projects">{{ 'nav.projects' | translate }}</a>
          </div>
          <div class="col">
            <a routerLink="/services">{{ 'nav.services' | translate }}</a>
            <a routerLink="/about">{{ 'nav.about' | translate }}</a>
            <a routerLink="/contact">{{ 'nav.contact' | translate }}</a>
          </div>
        </div>
      </div>

      <div class="footer__col footer-contact">
        <h4>{{ 'footer.contact_title' | translate }}</h4>
        <ul class="footer__contact contact-items">
          <li class="contact-item">
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:tasweeqar@gmail.com">tasweeqar@gmail.com </a>
          </li>
          <li class="contact-item">
            <i class="fa-solid fa-phone"></i>
            <a href="tel:+966580000910">+966580000910</a>
          </li>
          <li class="contact-item">
            <i class="fa-solid fa-location-dot"></i>
            <a href="https://www.google.com/maps/search/3676+%D8%B7%D8%B1%D9%8A%D9%82+%D8%A7%D9%84%D9%85%D9%84%D9%83+%D8%B9%D8%A8%D8%AF%D8%A7%D9%84%D9%84%D9%87+%D8%A8%D9%86+%D8%B9%D8%A8%D8%AF%D8%A7%D9%84%D8%B9%D8%B2%D9%8A%D8%B2+%D8%AD%D9%8A+%D8%A7%D9%84%D9%85%D8%B1%D9%82%D8%A7%D8%A8,+%D8%A7%D9%84%D8%AC%D8%A8%D9%8A%D9%84+ENAB3676,+%D8%A7%D9%84%D9%85%D9%85%D9%84%D9%83%D8%A9+%D8%A7%D9%84%D8%B9%D8%B1%D8%A8%D9%8A%D8%A9+%D8%A7%D9%84%D8%B3%D8%B9%D9%88%D8%AF%D9%8A%D8%A9%E2%80%AD/@26.9918,49.6497,17z?hl=en&entry=ttu&g_ep=EgoyMDI2MDUxMy4wIKXMDSoASAFQAw%3D%3D"
              target="_blank">
              {{ langService.currentLang() === 'ar' ? 'المملكة العربية السعودية' : 'Saudi Arabia' }}
            </a>
          </li>
          <li class="contact-item">
            <i class="fa-solid fa-globe"></i>
            <a href="https://tasweeqar.com" target="_blank">tasweeqar.com</a>
          </li>
        </ul>
        <div class="contact-icons-row">
          <a href="mailto:tasweeqar@gmail.com" aria-label="email">
            <i class="ti ti-mail"></i>
          </a>
          <a href="tel:+966580000910" aria-label="phone" target="_blank">
            <i class="ti ti-phone"></i>
          </a>
          <a href="https://www.google.com/maps/search/3676+%D8%B7%D8%B1%D9%8A%D9%82+%D8%A7%D9%84%D9%85%D9%84%D9%83+%D8%B9%D8%A8%D8%AF%D8%A7%D9%84%D9%84%D9%87+%D8%A8%D9%86+%D8%B9%D8%A8%D8%AF%D8%A7%D9%84%D8%B9%D8%B2%D9%8A%D8%B2+%D8%AD%D9%8A+%D8%A7%D9%84%D9%85%D8%B1%D9%82%D8%A7%D8%A8,+%D8%A7%D9%84%D8%AC%D8%A8%D9%8A%D9%84+ENAB3676,+%D8%A7%D9%84%D9%85%D9%85%D9%84%D9%83%D8%A9+%D8%A7%D9%84%D8%B9%D8%B1%D8%A8%D9%8A%D8%A9+%D8%A7%D9%84%D8%B3%D8%B9%D9%88%D8%AF%D9%8A%D8%A9%E2%80%AD%E2%80%AD/@26.9918,49.6497,17z?hl=en&entry=ttu&g_ep=EgoyMDI2MDUxMy4wIKXMDSoASAFQAw%3D%3D" target="_blank">
            <i class="fa-solid fa-location-dot"></i>
          </a>
          <a href="https://tasweeqar.com" target="_blank" aria-label="website">
            <i class="ti ti-world"></i>
          </a>
        </div>
      </div>

    </div>

    <div class="footer__bottom footer-bottom">
      <p>© 2026 {{ 'footer.rights' | translate }}</p>
      <p class="footer__slogan">{{ 'footer.slogan' | translate }}</p>
    </div>
  </div>
</footer>